body {
    background-color: black;
    margin: 0;
    padding: 50px 35px 0;
    box-sizing: border-box;
}

.logo{
    font-size: 100px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 90px;
}

.nav{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.nav-link{
    color: white;
    text-decoration: none;
}